/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-color: var(--background-color, rgba(0, 0, 41));
  font-family: var(--main-font, "IBM Plex mono"), monospace;
  font-size: var(--main-font-size, 1.125rem);
  color: var(--main-font-color, rgba(241, 178, 206, 1));
  background-attachment: fixed;
  background-image: var(--background-image,
      url(../images/cover-image-dark.png));
  background-position: center;
  background-size: cover;
}

/* Общий заголовок */
.header {
  padding: var(--page-padding);
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  font-size: var(--main-font-size, 1.125rem);
  block-size: 100vh;
  min-block-size: 668px;
}

/* Надпись REC */
.header__decorative {
  content: "";
  position: absolute;
  color: var(--additional-color);
  text-transform: uppercase;
  font-size: var(--page-font-size);
  line-height: 1.3em;
  right: calc(29px + var(--page-padding, 10px));
  top: calc(1px + var(--page-padding, 10px));
}

/* Запись */
.header__decorative::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 7px;
  background-color: var(--additional-color, rgb(255 0 112));
  block-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--additional-color, rgb(255 0 112));
}

/* Верхний уголок */
.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--additional-color);
  border-block-start: 1px solid var(--additional-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

/* Нижний уголок */
.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--additional-color);
  border-block-end: 1px solid var(--additional-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

/* Кнопки с цветовыми стилями */
.header__theme-menu-button {
  display: flex;
  justify-content: center;
  border: none;
  color: var(--accent-color);
  font-size: var(--page-font-size);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  inline-size: 70px;
  block-size: 26px;
}

/* Кнопка при наведении */
.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

/* Активная кнопка */
.header__theme-menu-button_active {
  outline: 1px solid var(--additional-color);
  pointer-events: none;
}

/* При фокусе не табом */
.header__theme-menu-button:focus {
  outline: none;
}

/* Фокус табуляцией */
.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

/* Список кнопок со стилями */
.header__theme-menu-list {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

/* Заголовок */
.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color, rgba(219, 0, 255, 1));
  font-size: var(--title-font-size,
      clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--title-line-height,
      clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem));
  justify-self: start;
  font-weight: 700;
}

/* Декорация для заголовка */
.title-decoration {
  background-color: var(--accent-color, rgb(255 0 112));
  color: var(--title-decor-color, #000028);
}

/* Описание в header */
.header__description {
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

/* Весь блок main */
.content {
  padding: var(--page-padding);
  padding-block-start: var(--padding-block-start);
}

/* Заголовок в блоке контента */
.content__section-title {
  color: var(--content-title-color, rgb(255, 0, 112, 1));
  font-size: var(--page-font-size);
  line-height: 1.3em;
  margin-block-end: var(--section-element-block-end);
  font-weight: 700;
}

/* Заголовок статьи в контенте */
.content__section-article:not(:last-child) {
  font-size: var(--page-font-size);
  line-height: var(--main-line-height);
  margin-block-end: var(--section-block-end);
}

/* Ссылка в тексте */
.article-text-link {
  text-shadow: 2px 1.5px 0 var(--accent-color, rgb(255 0 112));
  text-decoration: none;
}

/* Ссылка в тексте при наведении*/
.article-text-link:hover {
  border-bottom: 1px var(--main-font-color) solid;
}

/* Ссылка в тексте фокус без таба*/
.article-text-link:focus {
  outline: none;
}

/* Ссылка в тексте фокус в табуляции*/
.article-text-link:focus-visible {
  outline: 1px var(--main-font-color) solid;
}

/* Текст статей */
.article-text {
  margin-block-start: 10px;
  font-weight: 400;
  font-size: var(--page-font-size);
  line-height: 1.3em;
}

/* Заголовок для блока со статьями */
.article-title {
  margin-block-end: 10px;
  line-height: 1.3em;
  font-size: var(--page-font-size);
}

/* Подзаголовок статьи */
.article-subtitle {
  font-weight: 400;
}

/* Первый подзаголовок */
.article-subtitle:first-child {
  margin-block-start: 20px;
}

/* Заголовок блока с картинками */
.content__section-article-image .article-title {
  margin-block-end: 10px;
}

/* Секция с картинками*/
.content__article-section-image {
  display: grid;
  row-gap: 10px;
}

/* Отступ в конце статьи, кроме последней */
.article:not(:last-child) {
  margin-block-end: var(--section-element-block-end);
}

/* Картинки */
.content__article-image-item {
  object-fit: contain;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

/* Футер */
.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--footer-margin-block-start);
  max-block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color, rgba(219, 0, 255, 1));
  font-size: var(--title-font-size,
      clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--title-line-height,
      clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem));
}

@media (width >=768px) {
  .header {
    min-block-size: 1024px;
  }

  .header__title {
    margin-left: -20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__decorative {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  /* Текст в заголовке */
  .header__description {
    inline-size: 50%;
    font-size: var(--page-font-size);
  }

  .content {
    padding-block-start: var(--padding-block-start);
    font-size: var(--page-font-size);
  }

  /* Сетка грид для всех статей, кроме картинок */
  .content__section-article:not(:last-child) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  /* Размещение статей */
  .content__section-article:not(.section__focus) .article {
    grid-column: 2 / 3;
  }

  /* 2 блок растягиваем на всю ширину */
  .content__section-article:nth-child(2) .section__grid-container {
    grid-column: 1 / 3;
  }

  /* Заголовок концентрации */
  .content__section-article:nth-child(3) .article-title {
    align-self: start;
    font-size: var(--page-font-size);
  }

  /* Заголовок блока с картинками */
  .content__section-article-image .article-title {
    margin-block-end: 20px;
  }

  /* Грид сетка для обёртки контейнера */
  .content__article-section-image {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: dense;
    gap: 20px;
  }

  /* Подгоняем картинки под макет */
  .content__article-image-item {
    margin-block-end: 0;
    height: 100%;
    object-fit: cover;
  }

  /* Закат */
  .content__article-image-item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  /* Мороженное */
  .content__article-image-item:nth-child(2) {
    grid-row: span 2;
    grid-column: span 1;
  }

  /* Касета */
  .content__article-image-item:nth-child(3) {
    grid-row: span 2;
    grid-column: span 1;
  }

  /* Книги */
  .content__article-image-item:nth-child(4) {
    grid-column: span 1;
  }

  /* Японская улица */
  .content__article-image-item:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >=1024px) {

  /* Размер заголовка */
  .header {
    min-block-size: 768px;
  }

  /* Меню кнопок перемещаем на центр */
  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: start;
  }

  /* Button в строчку */
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .section__focus  .article {
    grid-column: auto;
  }

  .section__focus .section__grid-container {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  /* Текст в заголовке */
  .header__description {
    margin-block-start: 15px;
  }

  /* Размер футера */
  .footer {
    min-block-size: 768px;
  }
}