/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-padding: 10px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  --main-font: "IBM Plex mono";
  --page-font-size: 18px;
  --padding-block-start: 40px;
  --section-block-end: 50px;
  --section-element-block-end: 20px;
  --footer-margin-block-start: 30px;
  --main-font-color: rgba(241, 178, 206, 1);
  --hover-color: rgba(255, 0, 112, 0.4);
  --additional-color: rgba(255, 0, 112, 1);
}

@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-padding: 20px;
    --section-block-end: 80px;
    --padding-block-start: 60px;
    --footer-margin-block-start: 40px;
  }
}
